.input-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 410px;
  min-height: 40px;

  .input-block {
    display: inline-block;

    p {
      margin: 0;
      color: red;
    }

    input {
      &.ng-invalid.ng-touched {
        border-color: red;
      }
    }
  }
}
